<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Depositors List</title>
</head>
<body>
<h1>Depositors List</h1>

<table>
    <thead>
    <tr>
        <th>Müşteri Adı</th>
        <th>Hesap Şubesi</th>
        <th>Hesap Bakiyesi</th>
        <th>Yatırım Tarihi</th>
        <th>Yatırım Miktarı</th>
        <th>İşlemler</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="depositor : ${depositorList}">
        <td th:text="${depositor.customer.name}"></td>
        <td th:text="${depositor.account.branch}"></td>
        <td th:text="${depositor.account.balance}"></td>
        <td th:text="${depositor.date}"></td>
        <td th:text="${depositor.amount}"></td>
        <td>
            <a th:href="@{/depositor/update/{id}(id=${depositor.id})}" class="btn btn-primary">Güncelle</a>
            <form th:action="@{/depositor/delete/{id}(id=${depositor.id})}" method="POST" style="display:inline;">
                <button type="submit" class="btn btn-danger">Sil</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>