<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Customer</title>
</head>
<body>
<h1>Edit customer</h1>
<form th:action="@{/customer/add}" th:object=${customer} method="post">
    <fieldset>
        <legend>Customer</legend>
        <div>
            <label htmlFor="cid">Id: </label>
            <input type="text" id="cid" th:field="*{id}" />
        </div>
        <div>
            <label htmlFor="name">Name: </label>
            <input type="text" id="name" th:field="*{name}" />
        </div>
        <div>
            <label htmlFor="address">Address: </label>
            <input type="text" id="address" th:field="*{address}" />
        </div>
        <div>
            <label htmlFor="city">City: </label>
            <input type="text" id="city" th:field="*{city}" />
        </div>
        <div>
            <button type="submit">Save</button>
        </div>
    </fieldset>
</form>
</body>
</html>
